#main {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 40px 40px;    
}

#mainChart {
    flex: auto;
}

#filters {
    display: flex;
    flex-direction: column;
    margin: 30px 15px 15px 35px;
}