#app {
    font-family: 'Open Sans', sans-serif;
}

#body {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90vw;
}

#charts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}